<h1> <%= @cities.city_name %> </h1>

<h2> <%= @skyscrapers.count %> </h2>

<% @skyscrapers.each do |skyscraper| %>
  <%= link_to skyscraper.name, city_skyscraper_path(@cities, skyscraper), class: "skyscraper" %> 
<% end %>
