/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .application {
  text-align: center;
  font-family: helvetica;
  color: navy;
 }

 .Abu-Dhabi {
   background-image: url("abu-dhabi.jpg");
   color: white;
   font-family: helvetica;
   padding: 1em 1em 1em 1em;
   text-decoration: none;
   float: left;
   margin: 0.1em;
 }

 .Atlanta {
   background-image: url("atlanta.jpg");
   color: white;
   font-family: helvetica;
   padding: 1em 1em 1em 1em;
   text-decoration: none;
   float: left;
   margin: 0.1em;
 }

 .city {
   color: white;
   font-family: helvetica;
   padding: 0em 0em 0em 0em;
   text-decoration: none;
   float: left;
   margin: 0em 0em 0em 0em;
   height: 15em;
   width: 30em;
 }

 .photo {
   margin: 0.5em;
   height: 15em;
   width: 30em;
   background-size: cover;
   float: left;
 }

 .skyscraper {
   color: white;
   font-family: helvetica;
   background-color: purple;
   padding: 1em 1em 1em 1em;
   text-decoration: none;
   float: left;
   margin: 0.1em;
 }

 .title {
   font-family: helvetica;
 }

 header {
   background-color: navy;
   padding-top: 1em;
   padding-bottom: 1em;
 }

 table {
   font-family: helvetica;
 }
